name: Build Android APK
on: [push]
jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Build APK with pre-configured Docker
        uses: ArtemSBulgakov/buildozer-action@v1
        with:
          command: android debug
          buildozer_version: 1.4.0
      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: RemoteMonitor-APK
          path: bin/*.apk
